# Characterizing seascapes taxanomically

In this notebook we'll focus on:
+ [ ] comparing seascapes by top 10 class that are found; and how much percentage they are found
    + [ ] are some species common?
    + [ ] which species look charactertisitic to a seascape?
    + [ ] perhaps perform a probability test both seascape->taxa and taxa->seascape
    + [ ] what are the biological traits of these characteristic species


+ [ ] how do seascape differ in the ammount of biodiversity they offer?
    + [ ] which seascapes support more biodiversity
    + [ ] how does class biodiversity vary with seascapes

## import modules

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cartopy as cpy
import geopandas as gpd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import gc
import os
%matplotlib inline

## importing data

In [7]:
occdf = pd.read_csv("../input/obis-florida-keys-occurrence-records-19972012/florida-keys-1997-2012.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (49,77,79,95,97,99,100,104,105,112,113,115,117,134,149,150,158,159,160,165,166,167,168,169,170,172,173,174,175,177,178,179,181,182,183,184,185,186,188,189,190,191,192,193,194,196) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
data = pd.read_csv("https://cwcgom.aoml.noaa.gov/erddap/griddap/noaa_aoml_seascapes_8day.csv?CLASS%5B(2022-07-20T12:00:00Z)%5D%5B(23.025):(28.025)%5D%5B(-83.575):(-78.125)%5D&.draw=surface&.vars=longitude%7Clatitude%7CCLASS&.colorBar=%7C%7C%7C%7C%7C&.bgColor=0xffccccff")

In [9]:
occdf.columns.tolist()

['Unnamed: 0',
 'infraphylum',
 'country',
 'date_year',
 'habitat',
 'references',
 'scientificNameID',
 'scientificName',
 'dropped',
 'gigaclassid',
 'aphiaID',
 'language',
 'decimalLatitude',
 'subclassid',
 'type',
 'gigaclass',
 'infraphylumid',
 'phylumid',
 'familyid',
 'occurrenceStatus',
 'basisOfRecord',
 'terrestrial',
 'modified',
 'maximumDepthInMeters',
 'id',
 'parvphylum',
 'order',
 'dataset_id',
 'minimumElevationInMeters',
 'stateProvince',
 'decimalLongitude',
 'date_end',
 'speciesid',
 'occurrenceID',
 'maximumElevationInMeters',
 'license',
 'date_start',
 'genus',
 'ownerInstitutionCode',
 'samplingProtocol',
 'eventDate',
 'eventID',
 'brackish',
 'scientificNameAuthorship',
 'absence',
 'samplingEffort',
 'taxonRank',
 'genusid',
 'originalScientificName',
 'marine',
 'minimumDepthInMeters',
 'subphylumid',
 'date_mid',
 'class',
 'orderid',
 'datasetName',
 'geodeticDatum',
 'kingdom',
 'waterBody',
 'classid',
 'phylum',
 'depth',
 'species',
 'subphylum',
 'subclass',
 'datasetID',
 'family',
 'kingdomid',
 'parvphylumid',
 'node_id',
 'flags',
 'sss',
 'shoredistance',
 'sst',
 'bathymetry',
 'coordinateUncertaintyInMeters',
 'individualCount',
 'associatedMedia',
 'associatedReferences',
 'organismQuantity',
 'acceptedNameUsage',
 'sampleSizeUnit',
 'locality',
 'suborderid',
 'organismQuantityType',
 'acceptedNameUsageID',
 'vernacularName',
 'suborder',
 'taxonomicStatus',
 'specificEpithet',
 'sampleSizeValue',
 'wrims',
 'subfamily',
 'subfamilyid',
 'county',
 'municipality',
 'catalogNumber',
 'infraspecificEpithet',
 'verbatimEventDate',
 'georeferencedBy',
 'island',
 'collectionCode',
 'materialSampleID',
 'dateIdentified',
 'identificationQualifier',
 'islandGroup',
 'preparations',
 'institutionCode',
 'identificationRemarks',
 'identifiedBy',
 'georeferenceProtocol',
 'sex',
 'typeStatus',
 'verbatimSRS',
 'footprintWKT',
 'verbatimCoordinateSystem',
 'recordedBy',
 'lifeStage',
 'verbatimCoordinates',
 'occurrenceRemarks',
 'category',
 'superfamilyid',
 'superclass',
 'superclassid',
 'infraorderid',
 'superfamily',
 'superorder',
 'superorderid',
 'infraorder',
 'taxonRemarks',
 'infraclassid',
 'infraclass',
 'recordNumber',
 'georeferencedDate',
 'organismID',
 'bibliographicCitation',
 'eventTime',
 'nomenclaturalCode',
 'coordinatePrecision',
 'subkingdom',
 'infrakingdom',
 'subkingdomid',
 'infrakingdomid',
 'section',
 'subsection',
 'sectionid',
 'subsectionid',
 'tribeid',
 'tribe',
 'subspecies',
 'subgenus',
 'subgenusid',
 'subspeciesid',
 'year',
 'day',
 'month',
 'higherGeography',
 'continent',
 'georeferenceSources',
 'hab',
 'countryCode',
 'subterclassid',
 'subterclass',
 'parvorder',
 'parvorderid',
 'dynamicProperties',
 'accessRights',
 'rightsHolder',
 'collectionID',
 'institutionID',
 'fieldNumber',
 'parentNameUsageID',
 'eventRemarks',
 'taxonID',
 'locationID',
 'megaclass',
 'megaclassid',
 'georeferenceRemarks',
 'establishmentMeans',
 'locationAccordingTo',
 'endDayOfYear',
 'verbatimLocality',
 'higherClassification',
 'identificationVerificationStatus',
 'georeferenceVerificationStatus',
 'previousIdentifications',
 'organismRemarks',
 'startDayOfYear',
 'otherCatalogNumbers',
 'footprintSRS',
 'associatedSequences',
 'locationRemarks',
 'behavior',
 'verbatimDepth',
 'taxonConceptID',
 'subtribeid',
 'subtribe']

In [11]:
occdf.verbatimDepth.unique()

array([nan, '10-25m', '2-10m', '200-500', '0-2m', '0-3 METERS'],
      dtype=object)

Let us drop some unneccessary columns from occdf to make it faster as well more meaningful.

In [ ]:
occdf.type

In [12]:
occdf.drop([
    'Unnamed: 0',
#  'infraphylum',
 'country',
#  'date_year',
#  'habitat',
 'references',
#  'scientificNameID',
#  'scientificName',
 'dropped',
#  'gigaclassid',
#  'aphiaID',
 'language',
#  'decimalLatitude',
#  'subclassid',
 'type',
#  'gigaclass',
#  'infraphylumid',
 'phylumid',
 'familyid',
 'occurrenceStatus',
 'basisOfRecord',
 'terrestrial',
 'modified',
#  'maximumDepthInMeters',
#  'id',
#  'parvphylum',
#  'order',
#  'dataset_id',
#  'minimumElevationInMeters',
 'stateProvince',
#  'decimalLongitude',
#  'date_end',
#  'speciesid',
#  'occurrenceID',
#  'maximumElevationInMeters',
 'license',
#  'date_start',
#  'genus',
 'ownerInstitutionCode',
#  'samplingProtocol',
#  'eventDate',
#  'eventID',
#  'brackish',
 'scientificNameAuthorship',
 'absence',
#  'samplingEffort',
#  'taxonRank',
 'genusid',
 'originalScientificName',
 'marine',
#  'minimumDepthInMeters',
 'subphylumid',
#  'date_mid',
#  'class',
 'orderid',
 'datasetName',
#  'geodeticDatum',
#  'kingdom',
#  'waterBody',
 'classid',
#  'phylum',
#  'depth',
#  'species',
#  'subphylum',
#  'subclass',
#  'datasetID',
#  'family',
 'kingdomid',
 'parvphylumid',
 'node_id',
#  'flags',
#  'sss',
#  'shoredistance',
#  'sst',
#  'bathymetry',
#  'coordinateUncertaintyInMeters',
#  'individualCount',
 'associatedMedia',
 'associatedReferences',
#  'organismQuantity',
 'acceptedNameUsage',
#  'sampleSizeUnit',
 'locality',
 'suborderid',
#  'organismQuantityType',
 'acceptedNameUsageID',
 'vernacularName',
#  'suborder',
#  'taxonomicStatus',
#  'specificEpithet',
#  'sampleSizeValue',
#  'wrims',
#  'subfamily',
 'subfamilyid',
 'county',
 'municipality',
 'catalogNumber',
#  'infraspecificEpithet',
#  'verbatimEventDate',
#  'georeferencedBy',
 'island',
 'collectionCode',
 'materialSampleID',
#  'dateIdentified',
#  'identificationQualifier',
 'islandGroup',
#  'preparations',
 'institutionCode',
 'identificationRemarks',
 'identifiedBy',
 'georeferenceProtocol',
#  'sex',
 'typeStatus',
 'verbatimSRS',
#  'footprintWKT',
 'verbatimCoordinateSystem',
 'recordedBy',
#  'lifeStage',
 'verbatimCoordinates',
 'occurrenceRemarks',
#  'category',
 'superfamilyid',
#  'superclass',
 'superclassid',
 'infraorderid',
#  'superfamily',
#  'superorder',
 'superorderid',
#  'infraorder',
#  'taxonRemarks',
 'infraclassid',
#  'infraclass',
 'recordNumber',
 'georeferencedDate',
 'organismID',
 'bibliographicCitation',
#  'eventTime',
 'nomenclaturalCode',
#  'coordinatePrecision',
#  'subkingdom',
#  'infrakingdom',
 'subkingdomid',
 'infrakingdomid',
#  'section',
#  'subsection',
 'sectionid',
 'subsectionid',
 'tribeid',
#  'tribe',
#  'subspecies',
#  'subgenus',
 'subgenusid',
 'subspeciesid',
 'year',
 'day',
 'month',
 'higherGeography',
#  'continent',
 'georeferenceSources',
#  'hab',
 'countryCode',
 'subterclassid',
#  'subterclass',
#  'parvorder',
 'parvorderid',
#  'dynamicProperties',
 'accessRights',
 'rightsHolder',
 'collectionID',
 'institutionID',
 'fieldNumber',
 'parentNameUsageID',
 'eventRemarks',
#  'taxonID',
 'locationID',
#  'megaclass',
 'megaclassid',
 'georeferenceRemarks',
 'establishmentMeans',
 'locationAccordingTo',
 'endDayOfYear',
 'verbatimLocality',
#  'higherClassification',
 'identificationVerificationStatus',
 'georeferenceVerificationStatus',
 'previousIdentifications',
#  'organismRemarks',
 'startDayOfYear',
 'otherCatalogNumbers',
 'footprintSRS',
 'associatedSequences',
 'locationRemarks',
#  'behavior',
#  'verbatimDepth',
#  'taxonConceptID',
 'subtribeid',
#  'subtribe',
], axis=1, inplace=True)

In [16]:
occdf

,date_year,habitat,scientificNameID,scientificName,gigaclassid,aphiaID,decimalLatitude,subclassid,gigaclass,infraphylumid,...,parvorder,dynamicProperties,taxonID,megaclass,higherClassification,organismRemarks,behavior,verbatimDepth,taxonConceptID,subtribe
0,2009,Spur and Groove low Relief,urn:lsid:marinespecies.org:taxname:276677,Stegastes partitus,10194.0,276677,25.227550,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,NaN,urn:lsid:marinespecies.org:taxname:164811,Demospongiae,NaN,164811,24.553300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,Deep Fore Reef,urn:lsid:marinespecies.org:taxname:210726,Millepora alcicornis,NaN,210726,24.542100,19494.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Spur and Groove low Relief,urn:lsid:marinespecies.org:taxname:275764,Halichoeres garnoti,10194.0,275764,24.946360,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,Spur and Groove High Relief,urn:lsid:marinespecies.org:taxname:276025,Pomacanthus paru,10194.0,276025,25.037767,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988950,1999,Spur and Groove High Relief,urn:lsid:marinespecies.org:taxname:159797,Lutjanus griseus,10194.0,159797,24.453833,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988951,2001,Rubble Low Relief,urn:lsid:marinespecies.org:taxname:159803,Ocyurus chrysurus,10194.0,159803,24.546950,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988952,2007,Isolated Medium Relief (Patch),urn:lsid:marinespecies.org:taxname:158815,Halichoeres bivittatus,10194.0,158815,24.552167,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988953,2011,Isolated Medium Relief (Patch),urn:lsid:marinespecies.org:taxname:158808,Haemulon plumierii,10194.0,158808,25.362898,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988954,2009,Spur and Groove High Relief,urn:lsid:marinespecies.org:taxname:276064,Scarus vetula,10194.0,276064,24.454917,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
temp = data[data.CLASS.notna()]
temp.drop(0, axis=0, inplace=True)
temp.CLASS = temp.CLASS.astype(int)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [21]:
temp

                       time latitude longitude  CLASS
1      2022-07-20T12:00:00Z   23.025   -83.575     15
2      2022-07-20T12:00:00Z   23.025   -83.525     15
3      2022-07-20T12:00:00Z   23.025   -83.475     15
4      2022-07-20T12:00:00Z   23.025   -83.425     15
5      2022-07-20T12:00:00Z   23.025   -83.375     15
...                     ...      ...       ...    ...
11106  2022-07-20T12:00:00Z   28.025   -78.325      5
11107  2022-07-20T12:00:00Z   28.025   -78.275      5
11108  2022-07-20T12:00:00Z   28.025   -78.225     15
11109  2022-07-20T12:00:00Z   28.025   -78.175     15
11110  2022-07-20T12:00:00Z   28.025   -78.125     15

[5254 rows x 4 columns]

In [36]:
l = pd.Series(dtype=int)
l = pd.concat([l,pd.Series([1,2,3])])
occdf.loc[l,:]

,date_year,habitat,scientificNameID,scientificName,gigaclassid,aphiaID,decimalLatitude,subclassid,gigaclass,infraphylumid,...,parvorder,dynamicProperties,taxonID,megaclass,higherClassification,organismRemarks,behavior,verbatimDepth,taxonConceptID,subtribe
1,2011,NaN,urn:lsid:marinespecies.org:taxname:164811,Demospongiae,NaN,164811,24.55330,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,Deep Fore Reef,urn:lsid:marinespecies.org:taxname:210726,Millepora alcicornis,NaN,210726,24.54210,19494.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Spur and Groove low Relief,urn:lsid:marinespecies.org:taxname:275764,Halichoeres garnoti,10194.0,275764,24.94636,293496.0,Actinopterygii,1828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
temp[["longitude", "latitude"]] = temp[["longitude", "latitude"]].astype(float)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [49]:
temp.latitude

1        23.025
2        23.025
3        23.025
4        23.025
5        23.025
          ...
11106    28.025
11107    28.025
11108    28.025
11109    28.025
11110    28.025
Name: latitude, Length: 5254, dtype: float64

In [82]:
classes = temp.CLASS.unique()
classes.sort()
print("Taxonomic Distribution of Seascape Classes\n")
for Class in classes:
    l = pd.Series(dtype=int)
    for i in temp[temp.CLASS == Class].iterrows():
        l = pd.concat([l,pd.Series(occdf[(occdf.decimalLongitude.between(i[1].longitude - 0.025, i[1].longitude + 0.025)) & (occdf.decimalLatitude.between(i[1].latitude - 0.025, i[1].latitude + 0.025))].index)])
    print(f"\
    \tSeascape Class: {Class}\n-------------------------------\n")
    class_acc = occdf.loc[l.values, : ].groupby("class").scientificName.count()
    class_acc = class_acc/class_acc.sum()*100
    print(class_acc.nlargest(10))
    print("\n-------------------------------")

Taxonomic Distribution of Seascape Classes

    	Seascape Class: 3
-------------------------------

class
Actinopteri       98.329956
Anthozoa           1.221322
Hydrozoa           0.148368
Elasmobranchii     0.077803
Polychaeta         0.074184
Dinophyceae        0.037997
Malacostraca       0.018094
Bivalvia           0.012666
Ulvophyceae        0.012666
Cyanophyceae       0.010856
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 5
-------------------------------

class
Actinopteri       78.884120
Elasmobranchii    10.472103
Anthozoa           2.231760
Malacostraca       2.231760
Ophiuroidea        1.201717
Aves               1.030043
Demospongiae       1.030043
Monogenea          0.772532
Thecostraca        0.515021
Echinoidea         0.429185
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 11
-------------------------------

class
Gastropoda        37.500000
Bivalvia          29.166667
Actinopteri       22.222222
Malacostraca       5.555556
Dinophyceae        4.166667
Elasmobranchii     1.388889
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 13
-------------------------------

class
Actinopteri       90.646072
Anthozoa           3.787047
Demospongiae       2.046417
Hydrozoa           1.364278
Hexactinellida     1.348597
Elasmobranchii     0.619414
Aves               0.078407
Bivalvia           0.023522
Ophiuroidea        0.023522
Malacostraca       0.015681
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 15
-------------------------------

class
Actinopteri       97.610215
Anthozoa           0.856230
Polychaeta         0.340091
Demospongiae       0.334947
Hydrozoa           0.256640
Elasmobranchii     0.182906
Malacostraca       0.103456
Bivalvia           0.079450
Hexactinellida     0.076592
Gastropoda         0.048584
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 17
-------------------------------

class
Actinopteri       99.863388
Elasmobranchii     0.136612
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 21
-------------------------------

class
Actinopteri     60.791187
Polychaeta      13.970956
Mammalia         6.509765
Malacostraca     6.009014
Bivalvia         4.381572
Gastropoda       3.530295
Ostracoda        1.301953
Demospongiae     0.801202
Dinophyceae      0.550826
Clitellata       0.500751
Name: scientificName, dtype: float64

-------------------------------
    	Seascape Class: 27
-------------------------------

class
Actinopteri       97.881944
Anthozoa           1.045525
Mammalia           0.324074
Elasmobranchii     0.221836
Hydrozoa           0.196759
Polychaeta         0.096451
Bivalvia           0.036651
Malacostraca       0.032793
Ostracoda          0.028935
Gastropoda         0.025077
Name: scientificName, dtype: float64

-------------------------------

The above output has been clipped to Top 10 taxonomic `class` in each Seascape.