# Seascapes Exploratory Analysis

## Key questions to ask
+ how are seascapes distributed over water?
+ what species live in these seascapes?
+ how do these seascpes differ?

## Import modules

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Fetch Data

The URL of our resource:
```url
https://upwell.pfeg.noaa.gov/erddap/griddap/noaa_aoml_d89c_8713_c8a0.csv?CLASS%5B(2022-07-20T12:00:00Z):1:(2022-07-20T12:00:00Z)%5D%5B(23.19):1:(27)%5D%5B(6):1:(10)%5D,P%5B(2022-07-20T12:00:00Z):1:(2022-07-20T12:00:00Z)%5D%5B(23.19):1:(27)%5D%5B(6):1:(10)%5D
```
Generated from https://upwell.pfeg.noaa.gov/erddap/griddap/noaa_aoml_d89c_8713_c8a0.html

In [3]:
df = pd.read_csv("https://upwell.pfeg.noaa.gov/erddap/griddap/noaa_aoml_d89c_8713_c8a0.csv?CLASS%5B(2022-07-20T12:00:00Z):1:(2022-07-20T12:00:00Z)%5D%5B(23.19):1:(27)%5D%5B(6):1:(10)%5D,P%5B(2022-07-20T12:00:00Z):1:(2022-07-20T12:00:00Z)%5D%5B(23.19):1:(27)%5D%5B(6):1:(10)%5D")

In [5]:
df

                      time       latitude     longitude  CLASS       P
0                      UTC  degrees_north  degrees_east    NaN  Punits
1     2022-07-20T12:00:00Z         23.175         6.025    NaN     0.0
2     2022-07-20T12:00:00Z         23.175         6.075    NaN     0.0
3     2022-07-20T12:00:00Z         23.175         6.125    NaN     0.0
4     2022-07-20T12:00:00Z         23.175         6.175    NaN     0.0
...                    ...            ...           ...    ...     ...
6314  2022-07-20T12:00:00Z         27.025         9.825    NaN     0.0
6315  2022-07-20T12:00:00Z         27.025         9.875    NaN     0.0
6316  2022-07-20T12:00:00Z         27.025         9.925    NaN     0.0
6317  2022-07-20T12:00:00Z         27.025         9.975    NaN     0.0
6318  2022-07-20T12:00:00Z         27.025        10.025    NaN     0.0

[6319 rows x 5 columns]

In [11]:
df.P.unique()

array(['Punits', '0.0'], dtype=object)

In [12]:
df.CLASS[df.CLASS.notna()]

Series([], Name: CLASS, dtype: float64)

Let us fetch some new dataset.

Fetched from: https://cwcgom.aoml.noaa.gov/erddap/griddap/noaa_aoml_seascapes_8day.graph?CLASS[(2022-07-20T12:00:00Z)][(23.025):(28.025)][(-83.575):(-78.125)]&.draw=surface&.vars=longitude%7Clatitude%7CCLASS&.colorBar=%7C%7C%7C%7C%7C&.bgColor=0xffccccff

In [15]:
data = pd.read_csv("https://cwcgom.aoml.noaa.gov/erddap/griddap/noaa_aoml_seascapes_8day.csv?CLASS%5B(2022-07-20T12:00:00Z)%5D%5B(23.025):(28.025)%5D%5B(-83.575):(-78.125)%5D&.draw=surface&.vars=longitude%7Clatitude%7CCLASS&.colorBar=%7C%7C%7C%7C%7C&.bgColor=0xffccccff")
data

                       time       latitude     longitude CLASS
0                       UTC  degrees_north  degrees_east  None
1      2022-07-20T12:00:00Z         23.025       -83.575    15
2      2022-07-20T12:00:00Z         23.025       -83.525    15
3      2022-07-20T12:00:00Z         23.025       -83.475    15
4      2022-07-20T12:00:00Z         23.025       -83.425    15
...                     ...            ...           ...   ...
11106  2022-07-20T12:00:00Z         28.025       -78.325     5
11107  2022-07-20T12:00:00Z         28.025       -78.275     5
11108  2022-07-20T12:00:00Z         28.025       -78.225    15
11109  2022-07-20T12:00:00Z         28.025       -78.175    15
11110  2022-07-20T12:00:00Z         28.025       -78.125    15

[11111 rows x 4 columns]

In [27]:
print(f"Percentage of records with NaN CLASS - {len(data[data.CLASS.isna()])/len(data)*100} %")

Percentage of records with NaN CLASS - 52.70452704527045 %